<%= form_with scope: :comment, url: company_comment_path(@comment.company, @comment), method: :patch do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
    <%= f.hidden_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit "edit comment" %>
  </div>
<% end %>

 <%# link_to "edit", edit_company_comment_path(@company.id, comment.id)%>
       <%# link_to "Edit Post", edit_author_post_path(@post.author, @post) if @post.author %>
<%# link_to "delete", companies_path, edit_company_comment_path(@comment) %> 


    <%= button_to "delete", {:controller => :comments,
      :action => 'destroy', :company_id => @comment.company_id, :user_id => @comment.user_id }, :method => :delete, :class => 'list_btn' %>