

<div class="center">
<h1><%= @user.username %> </h1> 
<h3>Comments count: <%= @user.comments.count %></h3>
<h3>Favorites count: <%= @user.favorites.count %></h3>

  <%if @user.comments.present? %>
      <p>Recent Comments:</p>
      <% @user.comments.each do |comment| %>
          <div class="single-comment">
          <%= link_to comment.company.title, company_path(comment.company) %>
          <%= comment.content %>
          </div>
      <% end %>
  <% end %>

<br><br>

  <%if @user.companies.present? %>
      <p>Companies owned:</p>
      <% @user.companies.each do |company| %><br>
          <%= link_to company.title, company_path(company) %> 
      <% end %>
  <% end %>

  <%if @user.lists.present? %><br><br>
    <h2><%= @user.username %> lists: </h2>
         <% @user.lists.each do |list| %>
            <div class="single-comment">
            <%= link_to list.name, list_path(list.id) %>
            </div>
          <% end %>
   <% end %>


  <% if @user == current_user %>
    <br><br>
    <%= link_to 'edit', edit_user_path(@user) %>
    <%= link_to 'Destroy',  @user ,  method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <br><br>

</div>