<% if false %>
<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>

      <ul>
        <% @list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>

<h1>New List</h1>

<%= form_for @company do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :name %>
  <br/>
  <br/>
  <%= f.collection_check_boxes :company_list_ids, Company.all, :id, :title %>
  <br/>
  <br/>

  <br/>
  <br/>
  <%= f.submit %>
<% end %>