<%# Displays company comment count %>
<div class="grid">
  <div class="left-half">
<%if @company.comments.count == 0 %>
<h3> No comments for <%= @company.title%> yet! Be the first to comment below</h3>
<%else%>
<h3>Comments count: <%= @company.comments.count %></h3> 
<%end%>
</div>

<%# Displays company favorite count %>
<div class="right-half">
<%if @company.favorites.count == 0 %>
<h3> No one follows <%= @company.title%> yet!</h3>
<%# <h3 class="center"> Be the first to follow ⬇ </h3> %>
<%else%>
<h3>Favorites count: <%= link_to @company.favorites.count, company_favorites_path(@company) %></h3>
<%end%>
</div>
</div>

<%# Favorite this company%>
<% if current_user.favorited?(@company) %>
  <%= button_to "unfollow", company_favorites_path(@company.id), class: "myButton" %>
<% else %>
  <%= button_to "follow", company_favorites_path(@company.id), class: "myButton"  %>
<% end %>

<br>
<br>

<%# if @company.location.present? %>
<div class="center">
  <iframe  
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_KEY']%>&q=<%= @company.location %>" allowfullscreen>
  </iframe>
</div>
<%#end%>



<% if current_user.lists.present? %>
 <h3> Add to list: </h3>
 <div class="companylist_form">
    <%= form_for CompanyList.new do |f| %>
      <%= f.collection_select :list_id , current_user.lists, :id, :name %>
      <%= f.hidden_field :company_id, value: @company.id %>
      <%= f.submit "Add to your list", :class => "myButton" %>
       </div>
    <% end %>

<% else %>
    <div class="center">
        <%= link_to "Create a list", new_list_path %></a>
    </div>
<%end%>


<%# Displays comments from user %>

<%if @company.comments.count == 0 %>
  
<% else %>
  <h4 class="center"> Comments: </h4>
  <div class="comment-grid">
  <% @company.comments.each do |comment| %>       
          <div><%= link_to comment.user.username, user_path(comment.user) %> 
            <br> <%= comment.last_updated %> </div>
          <div> <%= comment.content %>
            <% if comment.user == current_user %> 
              <%= link_to "edit", edit_company_comment_path(@company.id, comment.id), :class => "myButton"%>
            <%end %></div>
<%end%>
</div>
<%end%>



<br><br>
<div class="center">
<%= form_for @company.comments.build do |f| %>

  <%= f.hidden_field :company_id %>
  <p>
  </p>  
  <p>
    <%= f.label :content, "Add a New Comment" %><br>
    <%= f.text_area :content %>
  </p>
  <br/>
  <%= f.submit "Create", :class => "myButton" %>
<% end %>
</div>


<br><br>

<% if current_user.owner == true || current_user.admin == true %>
<%= link_to 'Rename', edit_company_path(@company), :class => "myButton"  %>
 <%= button_to "delete", {:controller => :companies,
      :action => 'destroy', :company_id => @company.id}, :method => :delete, :class => 'myButton' %>


<% end %>
