<p> Goals for this page is to allow users to see most recent/added companies </p>
<p> Goals for this page is to allow users to search companies </p>
<p> Goals for this page is to allow users request to add a company to admin </p>

<h1>Search for a company</h1>


<%= form_tag(companies_path, method: :get) do %>
 <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag 'Search' %>
<% end %>


<%= form_tag companies_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>



<ul>
<% @companies.each do |company| %>
  <li><%= link_to company.title, company %></li>
<% end %>
</ul>