<%# [ ] Goals for this page is to allow users request to add a company to admin%>

<h1><%if current_user %> Hello <%= current_user.username.capitalize %>! <%end%> 
<h1>Search for a company</h1>

<br>
<div class="full">


<% if false %>

<%= form_tag companies_path, method: :get do %>
  <p>
    <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name"), {:include_blank => 'Search By Category'} %>
    <%= submit_tag "Search", name: nil, :class => "myButton" %>
  </p>
<% end %>
<br>
<% end %>


<%= form_tag companies_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query], placeholder: "Search By Name" %>
    <%= submit_tag "Search", name: nil, :class => "myButton" %>
  </p>
<% end %>


<b><%= link_to "Search by Category", categories_path%></b>







<% @companies.abc.each do |company| %>
  <p><%= link_to company.title, company %></p>
<% end %>

</div>

