
<%# Displays company title %>
<h1 class="title"><%= @company.title %></h1>

<%# Displays company description %>
<h3 class="about-company">About: <%= @company.description %></h3><br>

<div class="flexbox">
<div class="company_info">
<br>
<%# Displays company email %>
<p>Email: <%= @company.email %></p>

<%# Displays company website %>

<p>Website: <a href="<%= @company.website %>"> <%= @company.website %></a></p>

<%# Displays company website %>
<p>Phone: <%= number_to_phone(@company.phone) %></p>

<br>

</div>
</div>
<br>
<%= listshow %>




<br>




