<p> [x] Goals for this page is to allow a user to favoite/follow the page </p>
<p> [x] Goals for this page is to allow a user to comment on the page </p>
<p> [ ] USER CAN CRUD THEIR OWN COMMENT </p>
<p> [x] Goals for this page is to allow a user to add the company to a list they have </p>
<p> [ ] Goals for this page is to see the location based off Google Maps api </p>

<div class="company_show">
<%# Displays company title %>
<h1>Company NAME: <%= @company.title %></h1>

<%# Displays company description %>
<h2>Content: <%= @company.description %></h2><br>

<%# Displays company comment count %>
<h3>Comments count: <%= @company.comments.count %></h3> 

<%# Displays company favorite count %>
<h3>Favorites count: <%= link_to @company.favorites.count, company_favorites_path(@company) %></h3>

<%# Favorite this company%>
<%= form_for Favorite.new do |f| %>
  <%=f.hidden_field :user_id, value: 1 %>
  <%=f.hidden_field :company_id, value: @company.id %>
  <%= f.submit "Favorite this company" %>
<% end %>

<br><br>
 <h3> Add to list: </h3>
 <div class="companylist_form">
<%= form_for CompanyList.new do |f| %>
  <%= f.collection_select :list_id , List.all, :id, :name %>
  <%= f.hidden_field :company_id, value: @company.id %>
  <%= f.submit "Add to your list", :class => "btn" %>
<% end %>
</div>
<br><br>


<%# Displays comments from user %>
<h4> Comments: </h4>
  <% @company.comments.each do |comment| %>
  <br>
  <p>  <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
    <%= comment.last_updated %> </p>
  <% end %>


<br><br>



<%# Shows commentors username but not the content %>
<% if false %>
Commentors:
<ul>
<% @company.users.distinct.each do |user| %>
  <li>
    <%= link_to user.username, user_path(user) %>
  </li>
<% end %>
</ul>
<% end %>

<br><br>
<p> add a comment </p>
<%= form_for @company.comments.build do |f| %>
  <%= f.hidden_field :company_id %>
  <p>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>  
  <p>
    <%= f.label :content, "New Comment" %><br>
    <%= f.text_area :content %>
  </p>
  <br/>
  <%= f.submit %>
<% end %>


<br><br>

