<p> Goals for this page is to allow a user to favoite/follow the page </p>
<p> Goals for this page is to allow a user to comment on the page </p>
<p> Goals for this page is to allow a user to add the company to a list they have </p>
<p> Goals for this page is to see the location based off Google Maps api </p>


<h2>Company NAME: <%= @company.title %></h2>

<p>
  Content: <%= @company.description %>
</p>


<h5>Comments count: <%= @company.comments.count %></h5>
<h5>Favorites count: <%= @company.favorites.count %></h5>

Comments:
  <% @company.comments.each do |comment| %>
  <br>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>

<br><br>
Favorited:
  <% @company.favorites.each do |favorite| %>
  <br>
    <%= link_to favorite.user.username, user_path(favorite.user) %> loved
     ❤️
  <% end %>

 <%if false %>
<%= form_for @company do |f| %>
  <%= f.collection_select :list_ids , List.all, :id, :name %>
  <%= f.hidden_field :company_id, :value => @company.id %>
  <%= f.submit %>
<% end %>



 
<%= form_for @company do |f| %>
  <%= f.collection_select :list_ids , List.all, :id, :name %>
  <%= f.submit %>
<% end %>

 <%end %>

<%= form_for CompanyList.new do |f| %>
  <%= f.collection_select :list_id , List.all, :id, :name %>
  <%= f.hidden_field :company_id, value: @company.id %>
  <%= f.submit "Add to your list" %>
<% end %>


Commentors:
<ul>
<% @company.users.distinct.each do |user| %>
  <li>
    <%= link_to user.username, user_path(user) %>
  </li>
<% end %>
</ul>

<%= form_for @company.comments.build do |f| %>
  <%= f.hidden_field :company_id %>
  <p>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>  
  <p>
    <%= f.label :content, "New Comment" %><br>
    <%= f.text_area :content %>
  </p>
  <br/>
  <%= f.submit %>
<% end %>


