 <div class="company_show grid-container center"> 

<%# Displays company title %>
<h1>Company NAME: <%= @company.title %></h1>

<%# Displays company email %>
<h2>Email: <%= @company.email %></h2><br>

<%# Displays company website %>

<h2>Website: <%= @company.website %></h2><br>

<%# Displays company website %>
<h2>Phone: <%= @company.phone %></h2><br>

<%# Displays company description %>
<p>About: <%= @company.description %></p><br>


<%= listshow %>

<br>




